#categorias {
	position: fixed;
	border: 1px solid darkblue;
	margin: 5px;
}

#categorias ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

#categorias ul li {
	border: 1px solid darkblue;
}

#categorias ul li a {
	display: block;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 5px;
	text-align: center;
}

#categorias ul li a:hover {
	background-color: grey;
	transition: 250ms ease-in-out;
}

.tabla_juegos {
	float: center;
	margin: 10px auto;
}
.tabla_juegos, .tabla_juegos th, .tabla_juegos td {
	border-collapse: collapse;
	border: 2px solid black;
	min-width: 150px;
	text-align: center;
}