#navegacion {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: lightgrey;
}
#navegacion p {
	display: inline;
	float: left;
	margin-left: 15px;
}
#navegacion ul {
	float: right;
	list-style-type: none;
	margin: 0;
	margin-right: 15px;
	padding: 0;
}
#navegacion ul li {
	display: inline;
	float: left;
	font-size:20px;
	padding: 0;
	margin: 0;
}
#navegacion ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 10px;
}
#navegacion ul li a:hover {
	background-color: gray;
}
.menu-activo {
	background-color: darkgrey;
}